# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBKQHO_FgzReL6UTIJbkZv-muJmJFs02BU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=books-4012e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=books-4012e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=books-4012e.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=777861825903
NEXT_PUBLIC_FIREBASE_APP_ID=1:777861825903:web:05a0cffc86cb7c4e5fd49a
